<span md-dialog-title>{{dialogHeader}}</span>

<md-dialog-content>
  <p-tree [value]="filesTree7" draggableNodes="true" droppableNodes="true" dragdropScope="files"
          selectionMode="checkbox" [(selection)]="selectedFiles2"></p-tree>

</md-dialog-content>

<md-dialog-actions *ngIf="progress" [attr.align]="actionsAlignment">
  <md-progress-bar mode="indeterminate" color="primary" style="width: 100%"></md-progress-bar>
</md-dialog-actions>
<md-dialog-actions [attr.align]="actionsAlignment">
  <button md-button color="secondary" (click)="confirm()">确认</button>
  <button md-button color="secondary" (click)="cancel()">取消</button>
</md-dialog-actions>
