<div class="index-main" style="text-align: center;margin-top: 100px;">

    <div class="index-main-body" style="margin: auto;width: 300px;">

        <md-toolbar>登录</md-toolbar>

        <div>

            <form #loginForm="ngForm">
                <div layout="row" style="margin-top: 10px;">
                    <md-input-container style="width: 100%">
                        <input mdInput name="loginName" placeholder="用户名" [(ngModel)]="user.loginName" required>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container style="width: 100%">
                        <input mdInput type="password" name="password" #password="ngModel" minlength="8"
                               placeholder="密码" [(ngModel)]="user.password" required>
                        <md-error *ngIf="password.errors?.minlength">密码长度必须为11</md-error>
                        <md-error *ngIf="password.errors?.required">必须输入密码</md-error>

                        <!--md-hint align="end">
                          <md-icon>mode_edit</md-icon>
                          <span aria-live="polite">{{password.value.length}} / 8</span>
                        </md-hint-->
                    </md-input-container>
                </div>

            </form>

            <div *ngIf="error" class="col-sm-offset-2 col-sm-10 alert alert-danger">{{error}}</div>

            <div style="text-align:right;">
                <button md-raised-button color="primary" (click)="!loginForm.invalid && handleLogin()"
                        [disabled]="loginForm.invalid">确认
                </button>
                <button md-raised-button color="primary" (click)="handleBack()">返回</button>
            </div>

        </div>
    </div>

</div>
