
<div class="index-main" style="text-align: center;margin-top: 100px;">

  <div class="index-main-body" style="margin: auto;width: 300px;">

    <md-toolbar>登录</md-toolbar>

    <div>

      <form>
        <p>
          <md-input-container style="width: 100%">
            <input mdInput placeholder="用户名" value="Google">
          </md-input-container>
        </p>
        <p>
          <md-input-container style="width: 100%">
            <input mdInput #postalCode maxLength="5" placeholder="密码" value="94043"
                   pattern="[0-9]{5}">
            <md-hint align="end">
              <md-icon>mode_edit</md-icon>
              <span aria-live="polite">{{postalCode.value.length}} / 5</span>
            </md-hint>
          </md-input-container>
        </p>

      </form>

      <div *ngIf="error" class="col-sm-offset-2 col-sm-10 alert alert-danger">{{error}}</div>

      <div style="text-align:right;">
        <button md-button color="secondary" (click)="doLogin()">确认</button>
        <button md-button color="secondary" (click)="doBack()">返回</button>
      </div>

    </div>
  </div>

</div>
