<span md-dialog-title>{{dialogHeader}}</span>

<md-dialog-content *ngIf="record">
    <p>
        <md-input-container>
            <input mdInput [(ngModel)]="record.systemId" placeholder="systemId">
        </md-input-container>
        <md-input-container>
            <input mdInput [(ngModel)]="record.parentId" placeholder="parentId">
        </md-input-container>
        <md-select placeholder="resourceType" [(ngModel)]="record.resourceType">
            <md-option [value]="0"> 菜单</md-option>
            <md-option [value]="1"> 按钮</md-option>
        </md-select>
        <button md-button (click)="handleGenerateId()">
            <md-icon>label_outline</md-icon>
            Generate ID
            <md-icon>label</md-icon>
        </button>
    </p>
    <p>
        <md-input-container>
            <input mdInput [(ngModel)]="record.id" placeholder="ID">
        </md-input-container>
        <md-input-container>
            <input mdInput [(ngModel)]="record.name" placeholder="name">
        </md-input-container>
        <md-input-container>
            <input mdInput [(ngModel)]="record.path" placeholder="path">
        </md-input-container>
        <md-input-container>
            <input mdInput [(ngModel)]="record.icon" placeholder="icon">
        </md-input-container>
    </p>
    <p>
        <md-input-container>
            <input mdInput [(ngModel)]="record. seq" placeholder=" seq">
        </md-input-container>
        <md-select placeholder="status" [(ngModel)]="record.status">
            <md-option [value]="0"> 非正常</md-option>
            <md-option [value]="1"> 启用</md-option>
        </md-select>
        <md-input-container>
            <input mdInput [(ngModel)]="record.createTime" placeholder="createTime">
        </md-input-container>
        <md-input-container>
            <input mdInput [(ngModel)]="record.lastModifyTime" placeholder="lastModifyTime">
        </md-input-container>
    </p>
    <p>
        <md-input-container style="width:100%;">
            <textarea mdInput [(ngModel)]="record.description" placeholder="description"></textarea>
        </md-input-container>
    </p>

</md-dialog-content>

<md-dialog-actions *ngIf="progress" [attr.align]="actionsAlignment">
    <md-progress-bar mode="indeterminate" color="primary" style="width: 100%"></md-progress-bar>
</md-dialog-actions>
<md-dialog-actions [attr.align]="actionsAlignment">
    <button md-button color="secondary" (click)="handleConfirm()">确认</button>
    <button md-button color="secondary" (click)="handleCancel()">取消</button>
</md-dialog-actions>
