<span md-dialog-title>{{dialogHeader}}(原---新)</span>

<md-dialog-content>

  <div style="float: left;max-height: 600px;">
    <div style="float: left" disabled="true" (click)="null">
      <p-tree [value]="filesTree4" selectionMode="checkbox" [(selection)]="selectedFile2"
              (onNodeSelect)="nodeSelect($event)" [propagateSelectionUp]="false"
              [propagateSelectionDown]="false"></p-tree>
    </div>
    <div style="float: left">
      <md-icon>swap_horiz</md-icon>
    </div>

    <div style="float: left">
      <p-tree [value]="filesTree5" selectionMode="checkbox" [(selection)]="selectedFile3"
              (onNodeExpand)="toggle($event)" (onNodeCollapse)="toggle($event)"
              [propagateSelectionUp]="false" [propagateSelectionDown]="false"></p-tree>
    </div>
  </div>

</md-dialog-content>

<md-dialog-actions *ngIf="progress" [attr.align]="actionsAlignment">
  <md-progress-bar mode="indeterminate" color="primary" style="width: 100%"></md-progress-bar>
</md-dialog-actions>
<md-dialog-actions [attr.align]="actionsAlignment">
  <button md-button color="secondary" (click)="confirm()">确认</button>
  <button md-button color="secondary" (click)="cancel()">取消</button>
</md-dialog-actions>
